html, body{
    background-color: #FF1901 !important;
    font-family: 'Press Start 2P' !important;
}
.card-header{
    background-color: #17008E !important;
    border-radius: 25px 25px 0px 0px !important;
    color: white !important;

    overflow: hidden !important;
}

.card-contain{
    max-width: 90vw !important;
}

.card{
    border: 5px solid #0B1728 !important;
    border-radius: 32px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;;
    padding-bottom: 5vh !important;
}
.contains-card{
    padding: 10vh;
    
}
.nav-link{
    text-decoration: none;
    color: white;
}
.card-header-tabs{
    float: right !important;
    max-width: 50%;
}
.logo{
    float: left !important;
    padding-left: 2vw;
    padding-top: 0.5vh;
    max-width: 50%;
}
#logo-only{
    height: 500px;
    width: 300px;
}
.left-half {
    float: left !important;

}

.right-half {
    float: right !important;
}

.card-text{
    vertical-align: middle !important;
}

.main-header{
    background: linear-gradient(180deg, #58237A 0%, #CC4444 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 20vh;
}

.register{
    background: #FFCC01;
    border: 4px solid #000000;
    border-radius: 15px;

    font-size: 25px;
    box-shadow: 8px 12px;
    transition-duration: 0.4s;

}
.register:hover{
    transform: translate3d(5px, 5px, -20px);
    box-shadow: 3px 7px;
}
.card-body{
    padding-bottom: 20vh;
}

.card-header #about-navbar{
    height:40px;
}

/* events page styling*/
.event{
    background-color:#17008E !important;
    border-radius:32px 32px 0px 0px;
    font-size:40px;
}

  
  /*page 4 styling*/

.page4{
    box-sizing: border-box !important;
}

.info-container{
    height: 600px;
}

.info{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 25px;
}

/*footer*/

.footer-container{
    position: absolute;
    color: #fff;
    display: flex;
    justify-content: space-between;
    background: #0B1728;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 0;  
}

.footer-col{
    width: 32%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 25px;
    box-sizing: border-box;
}


.footer-col h3{
    font-size: 20px;
    margin-bottom: 15px;
    font-family: Press Start 2P;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
 }

/*.footer-col-center{
    text-align: center;
}*/

.footer-col-right{
    width: 36%;
}

.social-links li{
    list-style-type: none;
    line-height: 1.5rem;
}

.social-links a{
    color: #9D9494;
}

.social-links{
    padding: 0;
}

.copyright,.social-links{
    font-size: 12px;
    color: #9D9494;
}
.address{
    font-size: 10px;
    color: #9D9494;
}

/*vertical line in footer*/
.vl{
    border-left: 5px solid #FFFFFF;
    height: 160px;
    margin-right: 45px;
    bottom: 15px;
    margin-top: 1.2em;
}

@media only screen and (max-width: 993px) {
    #logo-only{
        height: 400px;
        width: 200px;
    }
    body {
        font-size: 10px !important;
    }
    .register{    
        font-size: 15px !important;    
    }
    .event{
        font-size: 20px !important;
    }
    .info{
        font-size: 15px;
    }
    
}
@media only screen and (max-width: 769px) {

    .main-header{
        padding-top: 0px;
    }
    .contains-card{
        padding: 5vh;
        
    }
}
